body {
  background: #000000;
  margin: 0 auto;
  max-width: 1440px;
  
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 60px 0 120px 160px;
}

@media (max-width: 1150px) {
  .header  {
    margin-left: 60px;
    margin-bottom: 52px;
  }
}

@media (max-width: 665px) {
  .header  {
    margin: 24px 0 40px 20px;
  }
}

.logo-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

@media (max-width: 1150px) {
  .logo-container {
    margin-bottom: 70px;
  }
}

@media (max-width: 665px) {
  .logo-container {
    margin-bottom: 60px;
  }
}

.logo-container__company {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  padding-right: 20px;
  margin: 0;
  justify-content: baseline;
}

@media (max-width: 665px) {
  .logo-container__company  {
    font-size: 20px;
    line-height: 28px;
    padding-right: 16px;
  }
}

.logo-container__message {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  background: #25E197;
  width: 99px;
  height: 20px;
  border-radius: 4px;
  margin: 0;
  border: 0;
  align-self: center;
}

.header__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 112px;
  line-height: 112px;
  color: #FFFFFF;
  margin: 0 0 20px 0;
  max-width: 395px;
}

@media (max-width: 1150px) {
  .header__title  {
    max-width: 247px;
    font-size: 70px;
    line-height: 90px;
    margin: 0;
  }
}

@media (max-width: 665px) {
  .header__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 10px;
  }
}

.header__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 70px;
  color: #FFFFFF;;
  margin: 0 0 230px 0;
}

@media (max-width: 1150px) {
  .header__subtitle  {
    max-width: 644px;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 470px;
  }
}

@media (max-width: 665px) {
  .header__subtitle  {
    font-size: 30px;
    line-height: 38px;
    max-width: 218px;
    margin-bottom: 260px;
  }
}

.user-form {
  display: flex;
  flex-direction: column;
}

.user-form__container {
  display: flex;
}

@media (max-width: 665px) {
  .user-form__container  {
    justify-content: center;
  }
}

.user-form__input {
  background: rgba(142, 142, 152, 0.2);
  border-radius: 8px 0px 0px 8px;
  border: 0;
  width: 348px;
height: 50px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.375px;
color: #FFFFFF;
}

@media (max-width: 1150px) {
  .user-form__input  {
    width: 427px;
  }
}

@media (max-width: 665px) {
  .user-form__input  {
    width: 229px;
  }
}

.user-form__button {
  background: #47474C;
  border-radius: 0px 8px 8px 0px;
  border: 0;
  width: 221px;
height: 50px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 0.375px;
color: #FFFFFF;
padding: 0;
}

@media (max-width: 665px) {
  .user-form__button  {
    width: 50px;
    height: 51px;
    font-size: 0;
  }
}

.user-form__button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s linear;
}

.user-form__subtitle {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #47474C;
margin: 12px 0 0 10px;
}

@media (max-width: 1024px) {
  .user-form__subtitle {
    margin-top: 10px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 665px) {
  .user-form__subtitle  {
  text-align: center;
  margin-bottom: 0;
  }
}

@media (max-width: 320px) {
  .user-form__subtitle  {
    text-align: start;
    margin-left: 0;
  }
}

.main__illustrations {
  margin: 0 30px 0 30px;
}

@media (max-width: 1024px) {
  .main__illustrations {
    margin-left: 0;
    margin-right: 0;
  }
}

.main__illustration-container {
  display: grid;
  grid-template-columns: 448px 912px;
  column-gap: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .main__illustration-container {
    grid-template-columns: 448px 180px;
    justify-content: center;
  }
}

@media (max-width: 665px) {
  .main__illustration-container {
    grid-template-columns: repeat(auto-fit,280px);
    grid-gap: 20px;
    justify-content: center;
    
  }
}

.main__illustration-green {
  display: grid;
  grid-template-columns: 630px 730px;
  column-gap: 20px;
  margin-bottom: 120px;
  overflow: hidden;
}


@media (max-width: 1024px) {
  .main__illustration-green {
    grid-template-columns: 173px 455px;
    justify-content: center;
  }
}

@media (max-width: 665px) {
  .main__illustration-green {
    grid-template-columns: repeat(auto-fit,280px);
    justify-content: center;
    grid-gap: 20px;
    margin-bottom: 60px;
    
  }
}



.main__illustration_yeallow {
  background: #FFD233;
}

@media (max-width: 665px) {
  .main__illustration_yeallow {
    height: 67px;
    
  }
}

.main__illustration_green {
  background: #25E197;
}

@media (max-width: 665px) {
  .main__illustration_green {
    height: 124px;
    
  }
}

.main__illustration {
  border-radius: 10px;
  object-fit: cover;
  max-width: 100%;
}

.main__description {
  margin-bottom: 120px;
}

@media (max-width: 1024px) {
  .main__description   {
  margin-bottom: 100px;
  }
}

@media (max-width: 665px) {
  .main__description {
  margin-bottom: 53px;
}
}

.main__description-text {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
color: #8E8E98;
max-width: 1120px;
margin-bottom: 60px;
}

@media (max-width: 1024px) {
  .main__description-text   {
    margin-left: 60px;
    font-size: 20px;
    line-height: 30px;
    max-width: 648px;
  }
}

@media (max-width: 665px) {
  .main__description-text {
    margin-left: 20px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 0;
    max-width: 280px;
  
  }
}



.main__description-subtitle {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
color: #FFFFFF;
margin: 0;
}

@media (max-width: 1024px) {
  .main__description-subtitle   {
    margin-left: 60px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 665px) {
  .main__description-subtitle {
  margin-left: 20px;
  font-size: 12px;
  line-height: 18px;
  }
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-bottom: 120px;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .information {
    justify-content: center;
  }
}

@media (max-width: 665px) {
  .information {
    margin-bottom: 70px;
  }
}

.information__table {
  display: flex;
  flex-direction: column;
  background: #1C1C1E;
border-radius: 16px;
justify-content: center;
margin-left: 20px;
}

@media (max-width: 1200px) {
  .information__table  {
    margin-top: 20px;
    margin-left: 0;
  }
}

.information__table:first-of-type{
  margin-left: 0px;
}

.information__table-container {
  min-width: 550px;
min-height: 364px;
}

@media (max-width: 1024px) {
  .information__table-container  {
    min-width: 648px;
  }
}

@media (max-width: 665px) {
  .information__table-container  {
    min-width: 280px;
    min-height: 282px;
  }
}

.information__table-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #8E8E98;
  margin-left: 40px;
  margin-top: 40px;
}

@media (max-width: 665px) {
  .information__table-title {
    margin: 20px 0 10px 20px;
  }
}



.information__table-name {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 32px;
color: #FFFFFF;
margin-left: 40px;
margin-top: 20px;
}

@media (max-width: 665px) {
  .information__table-name {
    margin: 0 0 28px 20px;
    font-size: 24px;
    line-height: 32px;
  }
}

.information__table-text {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
color: #8E8E98;
max-width: 470px;
height: 120px;
margin-left: 40px;
margin-bottom: 40px;

}

@media (max-width: 1024px) {
  .information__table-text {
    max-width: 568px;
  }
}

@media (max-width: 665px) {
  .information__table-text {
    max-width: 240px;
    max-height: 36px;
    font-size: 12px;
    line-height: 18px;
    margin-left: 20px;
    margin-bottom: 100px;
  }
}

.information__table-price {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #25E197;
margin-left: 40px;
}

@media (max-width: 665px) {
  .information__table-price {
    margin: 0 0 20px 20px;
    font-size: 12px;
    line-height: 18px;
  }
}

.full-varanty {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.full-varanty__title{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
color: #FFFFFF;
margin: 0 0 60px 0;
}

@media (max-width: 1024px) {
  .full-varanty__title {
    margin-left: 60px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 665px) {
  .full-varanty__title {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 40px 20px;
  }
}

.full-varanty__container {
  display: grid;
  grid-template-columns: repeat(4, 265px);
  column-gap: 20px;
  justify-content: start;
}

@media (max-width: 1150px) {
  .full-varanty__container  {
    grid-template-columns: repeat(2, 314px);
    grid-gap: 20px;
    justify-content: center;
  }
}

@media (max-width: 665px) {
  .full-varanty__container  {
    grid-template-columns: repeat(1, 280px);
    grid-gap: 20px;
    justify-content: center;
  }
}

.full-varanty__table-title {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
color: #EAEAF0;
margin: 20px 0 0 20px;
}

.full-varanty__table-subtitle {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 19px;
color: #8E8E98;
margin: 38px 0 0 20px;
width: 225px;
height: 57px;
}

@media (max-width: 1150px) {
  .full-varanty__table-subtitle  {
    width: 274px;
  }
}

@media (max-width: 665px) {
  .full-varanty__table-subtitle  {
    margin-top: 36px;
    font-size: 12px;
    line-height: 18px;
    width: 240px;
    height: 54px;
  }
}

.full-varanty__container {
  margin-bottom: 60px;
}

.full-varanty__table {
  height: 153px;
  background: #1C1C1E;
  border-radius: 10px;
}

.support-us {
margin-bottom: 240px;

}

@media (max-width: 1024px) {
  .support-us  {
    margin-left: 60px;
    margin-bottom: 210px;
  }
}

@media (max-width: 665px) {
  .support-us {
    margin-left: 20px;
    margin-bottom: 180px;
  
  }
}

.support-us__title {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
color: #FFFFFF;
margin-bottom: 90px;
margin-top: 0;

}

@media (max-width: 1024px) {
  .support-us__title  {
    margin-bottom: 80px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 665px) {
  .support-us__title  {
    margin-bottom: 50px;
    font-size: 12px;
    line-height: 18px;
  
  }
}


.support-us__button {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 0.375px;
width: 306px;
height: 50px;
color: #FFFFFF;
background: #47474C;
border-radius: 8px;
align-self: center;
border: none;
margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .support-us__button  {
    margin-bottom: 40px;
  
  }
}

@media (max-width: 665px) {
  .support-us__button  {
    width: 280px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 30px;
  
  }
}

.support-us__text {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
color: #8E8E98;
margin-bottom:0;
margin-top: 0;
max-width: 1120px;
}

@media (max-width: 1024px) {
  .support-us__text  {
    font-size: 20px;
    line-height: 30px;
    max-width: 648px;
  
  }
}

@media (max-width: 665px) {
  .support-us__text  {
    font-size: 12px;
    line-height: 18px;
  
  }
}

.footer {
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 60px auto;
  border-top: 2px solid #151515;
}

@media (max-width: 1024px) {
  .footer {
    margin-left: 60px;
  }
}

@media (max-width: 665px) {
  .footer  {
    margin-left: 0;
    margin-bottom: 20px;
  
  }
}

.logo-container_place_footer {
  margin-top: 60px;
  margin-bottom: 84px;
}

@media (max-width: 665px) {
  .logo-container_place_footer  {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 184px;
  
  }
}

.main {
  margin-left: 160px;
}

@media (max-width: 1280px) {
  .main {
    margin-left: 60px;
  }
}

@media (max-width: 1024px) {
  .main {
    margin-left: 0;
  }
}

.user-form__copyright {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
text-align: right;
color: #47474C;
margin: 0;
align-self: end;
}

@media (max-width: 1024px) {
  .user-form__copyright {
    align-self: start;
  }
}

@media (max-width: 665px) {
  .user-form__copyright {
    margin-top: 40px;
  }
}

.user-form__copyright-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .user-form__copyright-container {
    flex-direction: column;
  }
}

@media (max-width: 665px) {
  .user-form__copyright-container {
    margin-left: 20px;
  }
}

@media (max-width: 1024px) {
  .user-form__input_place_footer {
    width: 348px;
  }
}

@media (max-width: 665px) {
  .user-form__input_place_footer {
    width: 229px;
  }
}
