.information__table-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #8e8e98;
  margin-left: 40px;
  margin-top: 40px;
}

@media (max-width: 665px) {
  .information__table-title {
    margin: 20px 0 10px 20px;
  }
}
