.logo-container__company {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  padding-right: 20px;
  margin: 0;
  -webkit-box-pack: baseline;
  -ms-flex-pack: baseline;
  justify-content: baseline;
}

@media (max-width: 665px) {
  .logo-container__company {
    font-size: 20px;
    line-height: 28px;
    padding-right: 16px;
  }
}
