.support-us__text {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #8e8e98;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 1120px;
}

@media (max-width: 1024px) {
  .support-us__text {
    font-size: 20px;
    line-height: 30px;
    max-width: 648px;
  }
}
@media (max-width: 665px) {
  .support-us__text {
    font-size: 12px;
    line-height: 18px;
  }
}
